@import '../uikit.scss';

.main {
    position: relative;
    height: 960px;
    width: 1680px;
    margin-left: 140px;

    @media (max-width: 768px) {
        width: 768px;
        margin-left: 0;
        height: 1139px;
        text-align: center;
    }

    .main_banner {
        float: left;
        margin-top: 304px;

        @media (max-width: 768px) {
            float: none;
            margin-top: 70px;
        }

        .banner_label {
            font-size: 96px;
            color: $textWhite;
            font-family: 'lexendMedium';
            margin-top: 0px;
            margin-bottom: 0px;

            @media (max-width: 768px) {
                font-size: 46px;
            }
        }

        .banner_label-second {
            font-size: 96px;
            font-family: 'lexendMedium';
            color: $textBlue;
            margin-top: 0px;
            margin-bottom: 24px;

            @media (max-width: 768px) {
                font-size: 46px;
            }
        }

        .banner_paragraph {
            font-size: 32px;
            font-family: 'lexendMedium';
            color: $textGray;
            margin-top: 0px;
            margin-bottom: 48px;

            @media (max-width: 768px) {
                font-size: 20px;
                margin-bottom: 24px;
                width: 300px;
                margin-left: calc(50% - 150px);
            }
        }

        .banner_button {
            font-size: 24px;
            color: $textWhite;
            background-color: $backgroundBlue;
            padding: 20px 72px 20px 72px;
            border-radius: 48px;
            font-family: 'lexendSemiBold';
            border: none;

            &:hover {
                background-color: $borderBlueDark;
                cursor: pointer;
            }

            @media (max-width: 768px) {
                font-size: 18px;
                padding: 0;
                width: 300px;
                height: 53px;
            }
        }
    }

    .main_blog {
        text-align: center;
        float: right;
        margin-top: 148px;

        @media (max-width: 768px) {
            margin-top: 300px;
            float: none;
            width: 300px;
            margin-left: calc(50% - 150px);
        }

        .blog_label {
            font-family: 'lexendSemiBold';
            color: $textWhite;
            font-size: 40px;
            margin-top: 0px;
            margin-bottom: 24px;

            @media (max-width: 768px) {
                font-size: 32px;
                margin-bottom: 18px;
            }
        }

        .blog_scroll {
            width: 531px;
            height: 595px;
            border: 3px solid $borderBlue;
            border-radius: 100px;
            background-color: $backgroundGray;
            overflow: auto;

            @media (max-width: 768px) {
                width: 301px;
                height: 421px;
                border-radius: 50px;
                border-width: 2px;
                margin-left: calc(50% - 150px);
            }

            .scroll_item-active {
                background-color: $backgroundBlue !important;
            }

            .scroll_item {
                border-radius: 196px;
                padding: 16px 64px 16px 64px;
                background-color: $backgroundBlack;
                margin: 24px;
                text-align: left;

                @media (max-width: 768px) {
                    padding: 10px 35px 10px 35px;
                    border-radius: 46px;
                    width: 204px;
                    margin-left: 10px;
                    margin-right: 0;
                }

                .item_label {
                    color: $textWhite;
                    font-size: 24px;
                    font-family: 'lexendRegular';

                    @media (max-width: 768px) {
                        font-size: 16px;
                        width: 204px;
                        margin-bottom: 0;
                    }
                }

                .item_data {
                    font-size: 16px;
                    font-family: 'futuraPt';
                    color: $textGray;

                    @media (max-width: 768px) {
                        font-size: 14px;
                        width: 204px;
                        margin-top: 6px;
                    }
                }
            }
        }
    }
}

.blog_container {
    position: relative;

    .scroll_line {
        position: absolute;
        top: 96px;
        right: 16px;
        background-color: rgba($color: #fff, $alpha: 0.12);
        width: 8px;
        height: 403px;
        border-radius: 10px;

        @media (max-width: 768px) {
            width: 4px;
            height: 304px;
            right: 6px;
            top: 60px;
        }
    }

    .scroll_bar {
        position: absolute;
        top: 96px;
        right: 16px;
        background-color: #478BF9;
        width: 8px;
        height: 104px;
        border-radius: 10px;

        @media (max-width: 768px) {
            width: 4px;
            height: 77px;
            right: 6px;
            top: 60px;
        }
    }
}

.blog_scroll::-webkit-scrollbar,
.blog_scroll::-webkit-scrollbar-thumb {
    background-color: rgba($color: #fff, $alpha: 0);
}